app
src/app 
a.out
test.out
main.cpp
main.cc
main.c
.clang-format

version-c/build/
version-c/tmp
version-c/unit-tests/coverage

version-cpp/build/
version-cpp/tmp
version-cpp/unit-tests/coverage

*.o
*.a
*.so
*.gcda
*.gcno
*.gcov
*.dSYM
*.DS_Store
*.DS_Store?
